{% ckan_extends %}

<!-- Template override for core ckan header
     Adjust log_out/login buttons -->
{% block header_account_log_out_link %}
        <li>
          <a href="{{ h.url_for('/georchestra_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
{% endblock %}
{% block header_account_notlogged %}
    <li>{% link_for _('Log in'), named_route='ckanext_georchestra_login' %}</li>
{% endblock %}